body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	min-width: 250px;
	max-width: 550px;
	margin: 0 auto;
	font-weight: 300;
	background-image: url(todolist1.jpg);
	background-size: 100%;
}

.hidden {
	display: none;
}

.todoapp {
	background-color: transparent;
	margin: 130px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: rgb(157, 209, 240);
}

.todoapp h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
  text-transform: capitalize;
	color: rgb(157, 209, 240);
}

.new-todo,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	color:rgb(240, 238, 238);
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid rgb(255, 249, 249);
	box-shadow: inset 0 -1px 5px 0 rgba(65, 54, 54, 0.2);
	box-sizing: border-box;
}

.new-todo {
	padding: 16px 16px 16px 60px;
	border: none;
	background-color: transparent;
	box-shadow: inset 0 -2px 1px rgba(88, 74, 74, 0.03);
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

label[for='toggle-all'] {
	display: none;
}

.toggle-all:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

.toggle-all:checked:before {
  color: #3590db;
}

.toggle-all {
	position: absolute;
	top: 5px;
	left: -12px;
	width: 60px;
	height: 34px;
	text-align: center;
	border: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-appearance: none;
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
	border-bottom: none;
}

.todo-list li.checked {
	color: #3590db;
	font-weight: normal;
	text-decoration: line-through;
	
}

.todo-list li.checked input[type="checkbox"]:after {
	border: 1px solid #5a6062;
	border-radius: 3px;
	color: #3590db;
	content: "";
	display: block;
	height: 16px;
	line-height: 16px;
	position: absolute;
	text-align: center;
	visibility: visible;
	width: 16px;
}

.todo-list li.checked input[type=checkbox]:checked:after  {
	border: 1px solid #f0ebeb;
	color: #f3ebeb;
	content: "✓";
	font-size: 25px;
  color: rgb(114, 173, 114);
}

.todo-list li .itemList {
	text-align: center;
  height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;

}

.todo-list li label {
	color: rgb(53, 177, 160);
	white-space: pre-line;
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todo-list input[type=checkbox] {
	cursor: pointer;
	visibility: hidden;
	margin-left: 20px;
}

.todo-list input[type="checkbox"]:after {
	border: 1px solid #166B94;
	border-radius: 3px;
	color: #3590db;
	content: "";
	display: block;
	height: 16px;
	line-height: 16px;
	position: absolute;
	text-align: center;
	visibility: visible;
	width: 16px;
}

.todo-list input[type=checkbox]:checked:after {
	border: 1px solid #979797;
	color: #3590db;
	content: "✓";
	font-size: 25px;
  color: rgb(152, 218, 152);
}
 
 
.todo-list input[type=checkbox]:checked + label {
	color: #979797;
	font-weight: normal;
	text-decoration: line-through;
}

.todo-list li .remove {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #3590db;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
	cursor: pointer;
}

.todo-list li .remove:hover {
	color: #af5b5e;
}

.todo-list li .remove:after {
	content: '×';
}

.todo-list li:hover .remove {
	display: block;
}


.edit {
	display: none;
}

li.editing {
	display: block;
	width: 430px;
}

li.editing > label {
	display: none;
}

li.editing > input.edit {
	display: block !important;
}

li:hover.editing > button.remove {
	display: none ;
}
.todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

.show-all {
	display: block;
}

.todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.footer {
	color: #3590db;
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
	
.todo-count {
  float: left;
  text-align: left;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed, html .clear-completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.clear-completed:hover {
	text-decoration: underline;
}